/* annonce */
.md-announce__inner {
    background-color: #FBD825;
    border-color: #EFCE1D;
    overflow: auto;
    margin:10px;
    text-align: center;
    border-radius:4px;    
    color: #d9534f;
    font-size: .7rem;
    margin: .6rem auto;
    padding: 0 .8rem;
}
/* / annonce */

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 0 rgb(0 0 0 / 10%), 0 0 0 rgb(0 0 0 / 20%);
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.md-header {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
}

.md-search__form {
    background-color: rgba(0,0,0,.4);
    border-radius: .2rem;
}